/*
|--------------------------------------------------------------------------
| STARSHIP SHEET > OBJECTS
|--------------------------------------------------------------------------
*/

.app {
	@media screen {
		padding: $spacer;
		width: $page-width;
	}

	@media screen and (min-width: $page-width) {
		margin: 0 auto;
	}
}
