/*
|--------------------------------------------------------------------------
| STARSHIP SHEET > SETTINGS
|--------------------------------------------------------------------------
*/

/*
|-------------------------------------------------------
| PAGE SETUP
|-------------------------------------------------------
*/
$page-width: 210mm;


$spacer: 16px;