/**
 * COMMAND LINE
cd \wamp64\www\sf-ship-builder
sass --watch sass:css --style compressed
 */

@import 'inc/_settings.scss';
@import 'inc/_tools.scss';
@import 'inc/_generic.normalize.scss';
@import 'inc/_generic.scss';
@import 'inc/_elements.scss';
@import 'inc/_objects.main.scss';
@import 'inc/_objects.sidebar.scss';
@import 'inc/_objects.wrapper.scss';
@import 'inc/_components.align.scss';
@import 'inc/_components.app-header.scss';
@import 'inc/_components.app-message.scss';
@import 'inc/_components.box.scss';
@import 'inc/_components.contents.scss';
@import 'inc/_components.cost.scss';
@import 'inc/_components.crew.scss';
@import 'inc/_components.footer.scss';
@import 'inc/_components.icon.scss';
@import 'inc/_components.js-anim.scss';
@import 'inc/_components.bootstrap.btn.scss';
@import 'inc/_components.bootstrap.forms.scss';
@import 'inc/_trumps.scss';
