footer {
  margin-bottom: 4em;
}

footer > ul {
  list-style-type: none;
  padding-left: 0;
}

footer > ul > ul {
  list-style-type: none;
  padding-left: 1em;
}

footer li + li,
footer li + ul {
  margin-top: 0.5em;
}

footer .icon {
  fill: $background-color-highlight;
}

footer .icon + .icon {
  margin-left: 0;
}
