.crew__skill {
	border-top: 1px solid $background-color-highlight;
	// background-color: hotpink;
	padding: 0 1em;
	margin: 0 -1em;
}

.crew__skill__total {
	margin-top: 1em;
}

@media (max-width: $breakpoint-md) {
	
	.crew__skills-header {
		display: none;
		visibility: hidden;
	}

}

/*
.crew__role__header,
.crew__role__skills {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.crew__role__header {
	margin-top: 1em;
	font-weight: 700;
}

.crew__role__skills {
	-webkit-box-align: baseline;
	-ms-flex-align: baseline;
	-ms-grid-row-align: baseline;
	align-items: baseline;
	margin-top: .25em;
}

.crew__skill__label,
.crew__skill__ranks,
.crew__skill__mod,
.crew__skill__ship,
.crew__skill__total {
}
*/

/*
.crew__skill__label { -ms-flex-preferred-size: 15%; flex-basis: 15% }
.crew__skill__ranks { -ms-flex-preferred-size: 40%; flex-basis: 40% }
.crew__skill__mod   { -ms-flex-preferred-size: 30%; flex-basis: 30% }
.crew__skill__ship  { -ms-flex-preferred-size: 12.5%; flex-basis: 12.5% }
.crew__skill__total { -ms-flex-preferred-size: 12.5%; flex-basis: 12.5% }

.crew__skill__ship,
.crew__skill__total {
	text-align: center;
}

.crew__skill {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin-left: 1em;
}

.crew__skill label {
	-ms-flex-preferred-size: 20%;
	flex-basis: 20%;
}
*/

.crew__skill + .crew__skill {
	margin-top: 1em;
}

.crew__skill input {
	// width: 3em;
}

.crew__role input[type="number"] {
	// background-color: hotpink;
}
