@media (max-width: $breakpoint-sm) {
  .app-header__logo {
    margin-bottom: 1em;
    text-align: center;
  }
}

@media (min-width: $breakpoint-sm) {
  .app-header {
    display: flex;
    justify-content: space-between;
  }

  .app-header__logo {
    margin-top: 1.5em;
  }
}
