/*
|-------------------------------------------------------
| Controls
|-------------------------------------------------------
*/
.controls {
	background-color: hsl(156, 38%, 94%);
	border-bottom: 1px solid #dbdbdb;
	box-shadow: 0 1px 2px rgba(10,10,10,0.1);
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-left: #{0 - $spacer-md}; /* Flex column gap trick */
	padding: $spacer-md;
	/*position: fixed;
	top: 0; left: 0;*/
	z-index: 100;

	.field {
		align-items: baseline;
		display: block;
		flex-basis: calc(50% - #{$spacer-md}); /* ??? */
		margin-top: $spacer-sm;
		margin-bottom: $spacer-sm;
		padding: 0;
		padding-left: $spacer-md; /* Flex column gap trick */

		&:not(:last-child) {
			margin-bottom: 0; // override Bulma
		}
	}

	.field-header {
		flex-basis: 7em;
		flex-shrink: 0;
	}

	.field-body {
		display: flex;
		flex-grow: 1;
	}

	.label,
	.input,
	.select select
	{
		font-size: .85em;
	}

	.label {
		font-family: $controls-font-family;
	}

	.input {
		height: auto;
		width: calc(100% - #{$spacer-md * 3}); /* ??? */
	}

	.select {
		width: 100%;

		&:not(.is-multiple):not(.is-loading)::after {
			top: .85em; /* position of dropdown arrow messes up when font size is changed */
		}

		select {
			width: 100%;
		}
	}
}

@media screen and (min-width: $bp-mobile) {
	.controls {
		.field {
			display: flex; /* Puts label and body side by side */
			flex-basis: calc(50% - #{$spacer-md});
			flex-grow: 0;
		}
	}
}


@media screen and (min-width: $bp-tablet) {
	.controls {
		.field {
			flex-basis: calc(25% - #{$spacer-md}); /* ??? */
		}
	}
}

@media screen and (min-width: $bp-desktop) {
	.controls {
		width: calc(100% - #{$spacer-md}); /* ??? */
	}
}
