/*
|-------------------------------------------------------
| Page 1 - Stats
|-------------------------------------------------------
*/
.section--p1stats {
	display: grid;
	grid-template-areas:
		"st	st	st	hp	hp	hp	hp"
		"dx	dx	dx	will	will	will	will"
		"iq	iq	iq	per	per	per	per"
		"ht	ht	ht	fp	fp	fp	fp";
	grid-gap: 0;
}

.field--st { grid-area: st; }
.field--dx { grid-area: dx; }
.field--iq { grid-area: iq; }
.field--ht { grid-area: ht; }
.field--hp { grid-area: hp; }
.field--will { grid-area: will; }
.field--per { grid-area: per; }
.field--fp { grid-area: fp; }
