/*
|-------------------------------------------------------
| Page 1 - Details
|-------------------------------------------------------
*/
.section--p1details {
	align-content: start;
	display: grid;
	grid-template-areas:
		"p1name	p1name	p1name	player	player	pointTotal"
		"ht	wt	sizeMod	sizeMod	age	unspentPoints"
		"appearance	appearance	appearance	appearance	appearance	appearance";
	margin-bottom: .25em; /* Gives space for 'Current' */
}

.field--p1name        { grid-area: p1name; }
.field--player        { grid-area: player; }
.field--pointTotal    { grid-area: pointTotal; }
.field--ht            { grid-area: ht; }
.field--wt            { grid-area: wt; }
.field--sizeMod       { grid-area: sizeMod; }
.field--age           { grid-area: age; }
.field--unspentPoints { grid-area: unspentPoints; }
.field--appearance    { grid-area: appearance; }
