/*
|-------------------------------------------------------
| Page 2 - copyright
|-------------------------------------------------------
*/
.section--p2copyright {

	p {
		margin-top: 0;
	}

	p:not(.section--p2copyright__main) {
		margin-bottom: 0;
	}

	& > * {
		font-size: .75em;
	}
}
