/*
|-------------------------------------------------------
| Page Logo
|-------------------------------------------------------
*/
.section--logo {
	margin-top: $spacer-md;
	font-family: var(--sheet-font-family);
	font-size: calc(var(--sheet-font-size) * 1pt);

	img {
		// width: 100%;
		width: 100pt;
		height: auto;
	}
}

.section--logo__title {
	font-weight: 700;
	margin: $spacer-sm 0 0;
	text-transform: uppercase;
}