/*
|-------------------------------------------------------
| Page 2
|-------------------------------------------------------
*/

.page-2 {
	grid-template-columns: 3fr 2fr 7fr; /* Ensures reference tables don't take up too much horizontal space */
	grid-template-areas:
		"p2logo	p2handWeapons	p2handWeapons"
		"p2rangedWeapons	p2rangedWeapons	p2rangedWeapons"
		"p2speedRange	p2hitLocations	p2armorPossessions"
		"p2speedRange	p2copyright	p2armorPossessions"
		"p2notes	p2notes	p2armorPossessions";
	grid-gap: $spacer-sm $spacer-sm;
}

.section--p2handWeapons,
.section--p2rangedWeapons,
.section--p2armorPossessions,
.section--p2speedRange,
.section--p2hitLocations,
.section--p2copyright,
.section--p2notes
{
	border: 1px solid #000;
	padding: $spacer-xs;
}

.section--p2logo             { grid-area: p2logo; }
.section--p2handWeapons      { grid-area: p2handWeapons; }
.section--p2rangedWeapons    { grid-area: p2rangedWeapons; }
.section--p2speedRange       { grid-area: p2speedRange; }
.section--p2hitLocations     { grid-area: p2hitLocations; }
.section--p2armorPossessions { grid-area: p2armorPossessions; }
.section--p2copyright        { grid-area: p2copyright; }
.section--p2notes            { grid-area: p2notes; }

/*.section--p2logo             { background-color: hotpink; }*/
/*.section--p2handWeapons      { background-color: mediumseagreen; }*/
/*.section--p2rangedWeapons    { background-color: dodgerblue; }*/
/*.section--p2speedRange       { background-color: chocolate; }*/
/*.section--p2hitLocations     { background-color: darkgoldenrod; }*/
/*.section--p2armorPossessions { background-color: limegreen; }*/
/*.section--p2copyright        { background-color: firebrick; }*/
/*.section--p2notes            { background-color: peru; }*/
