/*
|=======================================================
| SETTINGS
|=======================================================
*/




/*
|-------------------------------------------------------
| PAGE SETUP
|-------------------------------------------------------
*/
$page-width: 210mm;



/*
|-------------------------------------------------------
| TYPOGRAPHY
|-------------------------------------------------------
*/

$sheet-font-family: serif;
$sheet-font-size: 8; // pt
$sheet-font-weight: 700;
$sheet-line-height: 1.3;

$values-font-family: monospace;
$values-font-size: 8; // pt
$values-line-height: 1;

$controls-font-family: BlinkMacSystemFont,-apple-system,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",Helvetica,Arial,sans-serif;



/*
|-------------------------------------------------------
| SPACING
|-------------------------------------------------------
*/

$spacer-xs: 1pt;
$spacer-sm: 2pt;
$spacer-md: 4pt;
$spacer-lg: 8pt;
$spacer-xl: 16pt;
