@media screen and (min-width: $breakpoint-sm) {

    .box--flex {
        display: flex;
        flex-wrap: wrap;
        margin-left: 0 - $gutter;
    }
    
    .box--flex--top {
        align-items: flex-start;
    }
    
    .box--flex--bottom {
        align-items: flex-end;
    }
    
    [class*="col"] {
        padding-left: $gutter;
        color: red;
    }

    .col-sm-1-1 {
        flex-basis: 100%;
    }
    
    .col-sm-1-2 {
        flex-basis: 50%;
    }
    
    .col-sm-1-3 {
        flex-basis: 33.33333%;
    }
    
    .col-sm-1-4 {
        flex-basis: 25%;
    }
    
    .col-sm-1-6 {
        flex-basis: 16.66667%;
    }
    
}

@media screen and (min-width: $breakpoint-md) {

    .col-md-1-1 {
        flex-basis: 100%;
    }
    
    .col-md-1-2 {
        flex-basis: 50%;
    }
    
    .col-md-1-3 {
        flex-basis: 33.33333%;
    }
    
    .col-md-1-4 {
        flex-basis: 25%;
    }
    
    .col-md-1-6 {
        flex-basis: 16.66667%;
    }
    
}

@media screen and (min-width: $breakpoint-lg) {

    .col-lg-1-1 {
        flex-basis: 100%;
    }
    
    .col-lg-1-2 {
        flex-basis: 50%;
    }
    
    .col-lg-1-3 {
        flex-basis: 33.33333%;
    }
    
    .col-lg-1-4 {
        flex-basis: 25%;
    }
    
    .col-lg-1-5 {
        flex-basis: 20%;
    }
    
    .col-lg-1-6 {
        flex-basis: 16.66667%;
    }
    
}