/*
|---------------------------------------------------------------------------
| SHIELDS
|---------------------------------------------------------------------------
*/
.shields-by-position {
    @media screen and (min-width: $breakpoint-sm) {
        display: flex;
        flex-wrap: wrap;
        margin-left: -1em;
    }
    
    .form-group {
        @media screen and (min-width: $breakpoint-sm) {
            padding-left: 1em;
            flex-basis: 50%;
        }

        @media screen and (min-width: $breakpoint-lg) {
            flex-basis: 25%;
        }
    }
}

.shields-by-position-invalid {
    color: $text-danger;
}