.sidebar {
	background: #eee url("../img/ship-blue.jpg") no-repeat center top;
	background-size: auto auto;
	height: 100vh;
	overflow-y: scroll;
	padding: .5rem;
	position: fixed;
	top: 0;
	left: 0;
}

.sidebar h3,
.sidebar p,
.contents li a {
	color: $background-color-highlight;
}

.sidebar .icon,
.sidebar__control {
	fill: $background-color-highlight;
}

@media (max-width: $breakpoint-md - 1) {

	.sidebar {
		transition: transform 0.3s ease;
		transform: translateY( -100vh ); /* Collapsed state */
		width: 100vw;
		z-index: 100;
	}

	#sidebar:target {
		transform: translateY(0); /* Uncollapsed state */
	}
	
	// NOTE: .sidebar__open is actually under .main, but I've put it here
	// because I feel it's more closely connected with .sidebar.
	.sidebar__control {
		background-color: $background-color-main;
		border-bottom: 1px solid $background-color-highlight;
		font-size: .9em;
		position: fixed;
		top: 0; left: 0;
		width: 100%;
		padding: 1em;
		text-decoration: none;
		z-index: 100;
	}
	
	.sidebar__open {
		display: flex;
		justify-content: space-between;
	}
	
	.sidebar__close {
		text-align: right;
	}
	
	.main,
	.sidebar {
		padding-top: 3em;
	}

}

@media (min-width: $breakpoint-md) {
	.sidebar {
		width: 35%;
	}
	
	.sidebar__control {
		display: none;
	}
}

@media (min-width: $breakpoint-lg) {
	.sidebar {
		width: 25%;
	}
}
