/*
$background-color-main: hsl(215, 50%, 92%);
$background-color-highlight: hsl(215, 24%, 81%);
$background-color-wrapper: hsl(215, 75%, 30%);
*/

$background-color-main: hsl(215, 100%, 10%);
$background-color-highlight: hsl(215, 24%, 81%);
$background-color-wrapper: hsl(215, 75%, 30%);

$breakpoint-md: 768px;
$breakpoint-lg: 1200px;

$sidebar-width: 100vw;