/*
|-------------------------------------------------------
| Field list reactions
|-------------------------------------------------------
*/
.field-list.field-list--reactions {
	padding: $spacer-sm;

	.field {
		display: block;
		padding-left: $spacer-md;
		text-indent: #{0 - $spacer-md};
	}

	.field__value {
		padding-left: 0;
		text-indent: 0;
	}
}