/*
|-------------------------------------------------------
| Fields (stats)
|-------------------------------------------------------
*/
.field--stat {
	padding: 0;

	&.field:not(:last-child) {
		margin-bottom: 0;
	}

	.field__label {
		font-size: 1.25em;
		text-align: right;
	}

	.field__value {
		border-right: 1px solid #000;
		border-bottom: 1px solid #000;
		border-left: 1px solid #000;
		text-align: center;
	}

	.field__current {
		border-top: 1px solid #000;
		border-right: 1px solid #000;
		border-bottom: 1px solid #000;
	}

	.field__current:after {
		content: 'Current';
		font-family: var(--sheet-font-family);
		font-size: 0.5em;
		font-weight: 700;
		letter-spacing: 0;
		position: relative;
		text-transform: uppercase;
	}

	.field__current--hp:after {
		top: calc(-63% - 1px); /* Label position is relative to size of parent; minimum 2px clearance */
	}

	.field__current--fp:after {
		top: calc(-63% - 2px); /* Label position is relative to size of parent; minimum 2px clearance */
	}

	.field__cost {
		// font-size: 1.15em;
		// padding: .05in 0;
	}

	& > .field__label,
	& > .field__value,
	& > .field__blank,
	& > .field__current,
	& > .field__cost
	{
	    align-items: center;
	    display: flex;
	}

	& > .field__label
	{
	    justify-content: flex-end;
	    padding-right: $spacer-sm;
	}

	& > .field__value,
	& > .field__blank,
	& > .field__current,
	& > .field__cost
	{
	    justify-content: center;
	}
}

.field--stat--3col {
	& > .field__label,
	& > .field__value,
	& > .field__cost
	{
		flex-basis: 33.33333%;
	}
}

.field--stat--4col {
	& > .field__label,
	& > .field__value,
	& > .field__blank,
	& > .field__current,
	& > .field__cost
	{
		flex-basis: 25%;
	}
}

.field__blank {
	border-right: 1px solid #fff;
}

.field--st, .field--hp {
	.field__value {
		border-top: 1px solid #000;
	}
}

/* This is a fix to adjust for the lack of top border on this row */
.field--fp .field__current {
	padding-top: 1px;
	margin-top: -1px;
}
