/*
|-------------------------------------------------------
| Has text
|-------------------------------------------------------
*/

.has-text-left {
	text-align: left;
}

.has-text-center {
	text-align: center;
}

.has-text-right {
	text-align: right;
}

.has-text-strong {
	font-weight: 700;
}

.has-text-uppercase {
	text-transform: uppercase;
}