/*
|-------------------------------------------------------
| Title
|-------------------------------------------------------
*/
.title {
	font-family: var(--sheet-font-family);
	font-size: calc(var(--sheet-font-size) * 1pt);
	margin: 0;
	margin-bottom: $spacer-md;
	text-align: center;
	text-transform: uppercase;
}